
# Upstream DNS provider, defaults to google DNS.
# Maybe it should be the one of your (wifi) router, if it provides dns entries
# * DNS1: Digitalcourage
# * DNS2: dns.as250.net; Berlin/Frankfurt
PIHOLE_DNS_=46.182.19.48;194.150.168.168

# Enable DNSSEC support:
DNSSEC=true

# Disable forwarding of reverse lookups for private ranges
DNS_BOGUS_PRIV=false

DNSMASQ_USER=pihole

# Enable DHCP server. Static DHCP leases can be configured 
# with a custom /etc/dnsmasq.d/04-pihole-static-dhcp.conf
DHCP_ACTIVE=true
DHCP_START=10.1.1.150
DHCP_END=10.1.1.200
DHCP_ROUTER=10.1.1.1
DHCP_LEASETIME=24

# IP on which pihole is listening for requests:
ServerIP=10.1.1.12

# Timezone is revlevant for the right time in the logs
TZ=Europe/Berlin

# Password for the web interface of pihole:
WEBPASSWORD=SuPeRsEcReTpAsSwOrD

