# Service name and Subdomain to configure dynamically environment
SERVICE=nextcloud
SUBDOMAIN=next
VERSION=22

### Nextcloud variables
NEXTCLOUD_DATA_DIR=/var/nextdata


# Admin user and password are optional:
#NEXTCLOUD_ADMIN_USER=admin
#NEXTCLOUD_ADMIN_PASSWORD=admin

### MySQL database environment
#MYSQL_DATABASE=nextcloud
#MYSQL_USER=nextcloud
#MYSQL_PASSWORD=MySecretMySQLPass
#MYSQL_ROOT_PASSWORD=Mysql_root1
#MYSQL_HOST=nexteval_db

### Postgresql database environment
POSTGRES_USER=next
POSTGRES_PASSWORD=PostgresPassword
# POSTGRES_DB must be created by the nextcloud installer!!
# Otherwise the installer will break and no login will be possible!!
#POSTGRES_DB=nextcloud

### Database settings:
DB_PASSWORD=DB_PASSWORD


### REDIS settings:
REDIS_PASS=NextCloudRedispass


### Folder configuration
NEXTAUDIO=/mnt/daten/Audio
NEXTMUSIC=/mnt/musik
NEXTVIDEO=/mnt/videos
